<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Country Stats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Country Stats</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="countries.filteredCountries">
    <ion-searchbar (ionChange)="filterList($event)" showCancelButton="focus"></ion-searchbar>
    <!-- Disabled Checkbox -->
    <ion-item>
      <ion-label>Show new cases</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="countries.onlyNewCases" (ionChange)="countries.onlyNewCountries()"></ion-checkbox>
    </ion-item>
    <!-- <ion-list>
      <ion-item-sliding *ngFor="let country of pinnedCountries;">
        <ion-item>
          <ion-button fill="" color="medium" slot="end" icon-only shape="round" (click)="presentModal(country)">
            <ion-icon name="eye"></ion-icon>
          </ion-button>

          <ion-label class="ion-text-wrap">
            <ion-text>
              <h3>{{country['Country,Other']}}</h3>
            </ion-text>
            <p>Total Cases: {{country['TotalCases']}}
              <ion-text color="danger" *ngIf="country['NewCases']">
                {{country['NewCases']}} new cases
              </ion-text>
            </p>
            <p>Total Deaths: {{country['TotalDeaths']}}
              <ion-text color="danger" *ngIf="country['NewDeaths']">
                {{country['NewDeaths']}} new deaths
              </ion-text>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removePinnedCountry(country['Country,Other'])">Remove Pin
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list> -->
    <ion-list>

      <ion-item-sliding *ngFor="let country of countries.filteredCountries;">
        <ion-item>
          <ion-button fill="" color="medium" slot="end" icon-only shape="round" (click)="presentModal(country)">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h3>{{country['Country,Other']}}</h3>
            </ion-text>
            <p>Total Cases: {{country['TotalCases']}}
              <ion-text color="danger" *ngIf="country['NewCases']">
                {{country['NewCases']}} new cases
              </ion-text>
            </p>
            <p>Total Deaths: {{country['TotalDeaths']}}
              <ion-text color="danger" *ngIf="country['NewDeaths']">
                {{country['NewDeaths']}} new deaths
              </ion-text>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success" (click)="countries.addPinnedCountries(country['Country,Other'])">
            Pin Country
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div *ngIf="!countries.filteredCountries">
    <!-- Disabled Checkbox -->
    <ion-item>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-card>
      <ion-item>
        <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-text>
          <p>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-text>
        <ion-text>
          <p>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-text>
      </ion-card-content>
    </ion-card>
    <!-- Disabled Checkbox -->
    <ion-item>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-card>
      <ion-item>
        <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-text>
          <p>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-text>
        <ion-text>
          <p>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-text>
      </ion-card-content>
    </ion-card>
    <!-- Disabled Checkbox -->
    <ion-item>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-card>
      <ion-item>
        <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-text>
          <p>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-text>
        <ion-text>
          <p>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-text>
          <p>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-text>
        <ion-text>
          <p>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-text>
          <p>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-text>
        <ion-text>
          <p>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  <div style="height: 60px;"></div>
</ion-content>